@font-face {
  font-family: 'iconfont';  /* project id 399500 */
  src: url('//at.alicdn.com/t/font_399500_5zfqk6u51sk.eot');
  src: url('//at.alicdn.com/t/font_399500_5zfqk6u51sk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_399500_5zfqk6u51sk.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_399500_5zfqk6u51sk.woff') format('woff'),
  url('//at.alicdn.com/t/font_399500_5zfqk6u51sk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_399500_5zfqk6u51sk.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before { content: "\e604"; }

.icon-wechat:before { content: "\e661"; }

.icon-github:before { content: "\e605"; }

.icon-email:before { content: "\e761"; }

